.p-card-tag{
  position: absolute;
  writing-mode: vertical-lr;
  left: 1.25rem;
  letter-spacing: 0.4rem;
}
.p-card-icon{  
  position: absolute;
  top:1.25rem ;
  right: 1.25rem;
  font-size: 1.5rem;
}