.section-img-height{
  height: 460px; 
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}
.iconLogin-position{
  position: absolute;
  top: 1.25rem;
  left: 20px;
}
.iconEmail-position{
  position: absolute;
  top: 1rem;
  font-size: 24px;
  left: 20px;
}
.iconRight-position{
  position: absolute;
  top: 0;
  right: 0;
}
.iconCard-position{
  position: absolute;
  top: 3.2rem;
  right:2rem;
  font-size: 20px;
}
input::placeholder {
  font-size:1rem;
  line-height: normal;
  color: #8DA291 !important;  
}
.p-cart-item-border{
  border-bottom: 2px solid $secondary;
  border-top: 2px solid $secondary;
} 