
.p-noReason-mt{
  margin-top: 95px;
}
.section-img-title{  
  margin-top: -1.5rem;
}
.p-ul-marginTop{
  margin-top: 115px;
}
.fa-marginLeft{
  margin-left: 50px;
} 
.p-form-padding{
  padding: 40px 30px;
}
.p-member-padding{
  padding-top: 40px;
  padding-bottom: 40px;
}
.p-link-margin{
  margin-bottom: 36px;
} 
.p-cart-h1-marginBottom{
  margin-bottom: 33px;
}
.check-mb{
  margin-bottom: 8px;
} 
.input-height{
  height: 56px;
}
.l-list-style-none{
  list-style: none;
}
.p-section-vertical-text{
  writing-mode: vertical-rl;  
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}
.btn{
  font-size: 1.5rem;
} 